USE [master]
GO
/****** Object:  Database [OpenCorpora]    Script Date: 13.03.2020 16:31:27 ******/
CREATE DATABASE [OpenCorpora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenCorpora', FILENAME = N'C:\Dev\MSSQLTest\MSSQL14.SQLEXPRESS01\MSSQL\DATA\OpenCorpora.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpenCorpora_log', FILENAME = N'C:\Dev\MSSQLTest\MSSQL14.SQLEXPRESS01\MSSQL\DATA\OpenCorpora_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenCorpora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenCorpora]
GO
/****** Object:  Table [dbo].[g]    Script Date: 13.03.2020 16:31:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[g](
	[v] [text] NULL,
	[l_Id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[l]    Script Date: 13.03.2020 16:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[l](
	[id] [int] NULL,
	[t] [text] NULL,
	[l_Id] [int] IDENTITY(1,1) NOT NULL,
	[v_Id] [int] NULL,
 CONSTRAINT [PK_l] PRIMARY KEY CLUSTERED 
(
	[l_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paragraph]    Script Date: 13.03.2020 16:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paragraph](
	[id] [int] NULL,
	[paragraph_Id] [int] IDENTITY(1,1) NOT NULL,
	[text_Id] [int] NULL,
 CONSTRAINT [PK_paragraph] PRIMARY KEY CLUSTERED 
(
	[paragraph_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sentence]    Script Date: 13.03.2020 16:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sentence](
	[id] [int] NULL,
	[source] [text] NULL,
	[sentence_Id] [int] IDENTITY(1,1) NOT NULL,
	[paragraph_Id] [int] NULL,
 CONSTRAINT [PK_sentence] PRIMARY KEY CLUSTERED 
(
	[sentence_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[text]    Script Date: 13.03.2020 16:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[text](
	[id] [int] NULL,
	[parent] [int] NULL,
	[name] [text] NULL,
	[tag] [text] NULL,
	[text_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_text] PRIMARY KEY CLUSTERED 
(
	[text_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tfr]    Script Date: 13.03.2020 16:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfr](
	[rev_id] [int] NULL,
	[t] [text] NULL,
	[tfr_Id] [int] IDENTITY(1,1) NOT NULL,
	[token_Id] [int] NULL,
 CONSTRAINT [PK_tfr] PRIMARY KEY CLUSTERED 
(
	[tfr_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[token]    Script Date: 13.03.2020 16:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[token](
	[id] [int] NULL,
	[text] [text] NULL,
	[token_Id] [int] IDENTITY(1,1) NOT NULL,
	[sentence_Id] [int] NULL,
 CONSTRAINT [PK_token] PRIMARY KEY CLUSTERED 
(
	[token_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[v]    Script Date: 13.03.2020 16:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[v](
	[v_Id] [int] IDENTITY(1,1) NOT NULL,
	[tfr_Id] [int] NULL,
 CONSTRAINT [PK_v] PRIMARY KEY CLUSTERED 
(
	[v_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[g]  WITH CHECK ADD  CONSTRAINT [FK_g_l] FOREIGN KEY([l_Id])
REFERENCES [dbo].[l] ([l_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[g] CHECK CONSTRAINT [FK_g_l]
GO
ALTER TABLE [dbo].[l]  WITH CHECK ADD  CONSTRAINT [FK_l_v] FOREIGN KEY([v_Id])
REFERENCES [dbo].[v] ([v_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[l] CHECK CONSTRAINT [FK_l_v]
GO
ALTER TABLE [dbo].[paragraph]  WITH CHECK ADD  CONSTRAINT [FK_paragraph_text] FOREIGN KEY([text_Id])
REFERENCES [dbo].[text] ([text_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[paragraph] CHECK CONSTRAINT [FK_paragraph_text]
GO
ALTER TABLE [dbo].[sentence]  WITH CHECK ADD  CONSTRAINT [FK_sentence_paragraph] FOREIGN KEY([paragraph_Id])
REFERENCES [dbo].[paragraph] ([paragraph_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sentence] CHECK CONSTRAINT [FK_sentence_paragraph]
GO
ALTER TABLE [dbo].[tfr]  WITH CHECK ADD  CONSTRAINT [FK_tfr_token] FOREIGN KEY([token_Id])
REFERENCES [dbo].[token] ([token_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tfr] CHECK CONSTRAINT [FK_tfr_token]
GO
ALTER TABLE [dbo].[token]  WITH CHECK ADD  CONSTRAINT [FK_token_sentence] FOREIGN KEY([sentence_Id])
REFERENCES [dbo].[sentence] ([sentence_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[token] CHECK CONSTRAINT [FK_token_sentence]
GO
ALTER TABLE [dbo].[v]  WITH CHECK ADD  CONSTRAINT [FK_v_tfr] FOREIGN KEY([tfr_Id])
REFERENCES [dbo].[tfr] ([tfr_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[v] CHECK CONSTRAINT [FK_v_tfr]
GO
USE [master]
GO
